.container-footer {
    width: 100%;
    position: fixed;
    bottom: -100;
    text-align: center;
    color: black;
}

.footer-text {
    color: white;
}

.footer-text a {
    color: white;
    text-decoration: none;
}