.main-home {
    padding: 3em 3em;
}

.main-home img {
    height: 18em;
    border: 1px solid transparent;
    border-radius: 1em;
}

.swiper-button-prev {
    color: black!important;
}

.swiper-button-next {
    color: black!important;
}

@media only screen and (max-width: 600px) {
    .main-home {
        padding: 3em 0em;
    }

    .main-home img {
        height: 6em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
    .main-home {
        padding: 3em 0em;
    }

    .main-home img {
        height: 8em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
    .main-home {
        padding: 3em 0em;
    }

    .main-home img {
        height: 10em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
    .main-home {
        padding: 3em 0em;
    }

    .main-home img {
        height: 11em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .main-home {
        padding: 3em 0em;
    }
    
    .main-home img {
        height: 12em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1265px) {
    .main-home img {
        height: 14em;
        border: 1px solid transparent;
        border-radius: 1em;
    }
}